.header__btn {
    width: 100px;
    height: 40px;
    background: #183181;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  .header__btn:hover,
  .project__btn:hover {
    background: #fff;
    border: 1px solid #183181;
    color: #183181;
  }
  
  /* ///////project__btn///// */
  
  .project__btn {
    width: 112px;
    height: 40px;
    background: #183181;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  /* /////////creative__btn//// */
  .creative__btn {
    margin-top: 32px;
    border: none;
    background: transparent;
    color: #183181;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
  }
  .creative__btn:hover {
    font-size: 25px;
    color: #18191F;
  }
  
  /* //////mobile__btn///// */
  .mobile__btn {
    margin-top: 37px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    padding: 0;
  }
  .mobile__btn:hover {
    font-size: 32px;
  }
  
  /* //////logo__btn///// */
  .logo__btn {
    margin-top: 24px;
    width: 170px;
    height: 96px;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  .logo__btn:hover {
    background: transparent;
    border: 1px solid #18191F;
  }
  
  @media screen and (max-width: 991px) {
    .header__btn {
      width: 70px;
      height: 30px;
      font-size: 10px;
      line-height: 20px;
    }
  
    /* ///////project__btn///// */
  
    .project__btn {
      width: 92px;
      height: 40px;
      font-size: 11px;
      line-height: 20px;
    }
    .center {
      margin-top: 50px;
    }
    /* /////////creative__btn//// */
    .creative__btn {
      margin-top: 20px;
      font-size: 16px;
    }
    .creative__btn:hover {
      font-size: 20px;
    }
    /* //////mobile__btn///// */
    .mobile__btn {
      margin-top: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    .mobile__btn:hover {
      font-size: 22px;
    }
  
    /* //////logo__btn///// */
    .logo__btn {
      margin-right: 20px;
    }
    .logo__btn:last-child {
      margin-right: 0;
    }
  
  }
  
  @media screen and (max-width: 767px) {
    .header__btn {
      width: 60px;
      height: 20px;
      font-size: 8px;
      line-height: 18px;
    }
  
    /* ///////project__btn///// */
    .project__btn {
      width: 82px;
      height: 30px;
      font-size: 9px;
      line-height: 17px;
    }
    .center {
      margin-top: 30px;
    }
    /* /////////creative__btn//// */
    .creative__btn {
      margin-top: 0px;
      font-size: 13px;
    }
    .creative__btn:hover {
      font-size: 16px;
    }
  
     /* //////mobile__btn///// */
     .mobile__btn {
      margin-top: 0px;
      font-size: 18px;
      line-height: 18px;
    }
    .mobile__btn:hover {
      font-size: 20px;
    }
  
    /* //////logo__btn///// */
    .logo__btn {
      margin-top: 20px;
      width: 150px;
      height: 76px;
    }
    .logo__btn img {
      width: 65%;
    }
  }
  
  @media screen and (max-width: 535px) {
     /* //////mobile__btn///// */
     .mobile__btn {
      font-size: 15px;
      line-height: 15px;
    }
    .mobile__btn:hover {
      font-size: 17px;
    }
  
     /* //////logo__btn///// */
    .logo__btn {
      margin-top: 10px;
      margin-right: 10px;
      width: 90px;
      height: 46px;
    }
  }
  
  @media screen and (max-width: 420px) {
     /* /////////creative__btn//// */
     .creative__btn {
      font-size: 7px;
    }
    .creative__btn:hover {
      font-size: 10px;
    }
  }